// Slider
.top-30 {
    top: 30%;
    width: 50%;
}

.slider {

    & .carousel {

        & .carousel-inner {
            width: 100%;
            height: 80vh;

            & .carousel-item {
                width: 100%;
                height: 100%;
                
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            & .carousel-caption {

                & h5 {
                    color: $color-primary;
                    font-size: 5rem;
                    font-weight: 800;
                    font-family: $font-main;
                    text-shadow: 1px 1px #444;
                }

                & p {
                    color: #fff;
                    font-size: 2rem;
                    font-family: $font-display;
                    font-weight: 700;
                    margin: 2rem 0 3rem;
                    letter-spacing: 1px;
                    
                }

                & .slider-btn {
                    padding: 1rem 3rem;
                    font-size: 1.7rem;
                    background: $color-primary;
                    border: 2px solid $color-primary;
                    color: #fff;
                    transition: all .5s;
                    
                    &:hover {
                        background: transparent;
                        border: 2px solid $color-primary;
                        color: $color-primary;
                    }
                }
            }
        }
    }
}

ol.carousel-indicators {
    position: absolute;
    bottom: 5px;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
 }
 
 ol.carousel-indicators li,
 ol.carousel-indicators li.active {
    width: 1.4rem;
    height: 1.4rem;
    margin: 0;
    border-radius: 50%;
    border: 0;
    background: transparent;
 }
 
 ol.carousel-indicators li {
    background: rgba(255,255,255,0.39);
    margin-left: .5rem;
    margin-right: .5rem;
 }
 
 ol.carousel-indicators li.active {
    background: #fff;
 }


//   About
.about {
    &__description {
        font-size: 1.4rem;
        color: $color-grey;
        line-height: 2.4rem;
    }

    &__card {
        position: relative;
        height: 40rem;

        &::after {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 100%;
            object-fit: cover;
            background: #999;
            transform: translate(-5%, -5%);
            z-index: -1;
            transition: all .5s;
        }

        &:hover .about__image {
            box-shadow: 0px 2px 10px rgba(73, 39, 39, 0.4);
        }

        &:hover::after {
            transform: translate(-2%, -2%);
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .5s;
    }

    &__more {
        margin-top: 3rem;
    }

    &__btn {
        background: $color-primary;
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 600;
        padding: 10px 20px;
        border-radius: 50px;
        transition: all .5s;
        border: 2px solid $color-primary;

        &:hover {
            color: $color-primary;
            background: transparent;
            border: 2px solid $color-primary;
        }
    }
}

.counts {
    background: rgba($color-primary, 0.9);
    padding: 5rem 0 4rem;
    color: $color-white;

    & i {
        font-size: 5rem;
    }

    & h2 {
        font-size: 4rem;
        // font-weight: 700;
    }
    
}

// Services
.services {
    padding: 5rem 0;

    &__card {
        background: #f2f2f2 !important;
        border-radius: 30px !important;
        // box-shadow: 0px 1px 10px rgba(73, 39, 39, 0.4);
        text-align: center;
        padding: 0 0 1rem 0;

        &--img {
            width: 100%;
            height: 100%;
            border-top-left-radius: 30px !important;
            border-top-right-radius: 30px !important;
        }

        &--title {
            font-size: 2rem;
            color: $color-primary;
            font-weight: 700;
            font-family: $font-display;
            margin: 1rem 0;
        }

        &--description {
            font-size: 1.4rem;
            line-height: 2.4rem;
            letter-spacing: 0.5px;
            margin-bottom: 3rem;
        }

        &--btn {
            width: 100%;
            font-size: 1.5rem !important;
            border: 2px solid $color-primary !important;
            border-radius: 2rem !important;
            font-weight: 600 !important;
            color: $color-primary !important;

            &:hover {
                background: $color-primary;
                color: $color-white !important;
            }
        }
    }
}

// Client
.client {

    &__description {
        font-size: 1.6rem;
    }

    &__carousel {


        &--card {
            width: 100%;
            height: 20rem;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        & .owl-carousel i {
            background-color: rgba($color-secondary, 0.8);
            font-size: 2.5rem;
            padding: 0.8rem 1rem;
            color: #fff;
            position: absolute;
            top: 40%;
        }

        & .owl-carousel i.fa.fa-angle-left {
            left: 0;
        }

        & .owl-carousel i.fa.fa-angle-right {
            right: 0;
        }
    }
}

// Recruitment

.recruitment {

    &__card {
        width: 15rem;
        margin: 0 auto;
    }

    &__title {
        font-size: 1.7rem;
        color: $color-grey-dark;
        font-weight: 700;
        line-height: 2.4rem;
    }
}

section {
    padding: 8rem 0 5rem;
}

// Vision-Mission
.vision-mission {
    // background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/vision-bg.png);
    background: url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    position: relative;
    // background-repeat: no-repeat;

    & .section-title__heading {
        color: #fff;

        & span {
            &::after {
                background: $color-secondary;

            } 
        }
    }

    &__card {
        background: transparent !important;
        border-radius: 30px !important;
        border-color: #fff !important;
        padding: 2rem;
        

        &--description {
            font-size: 1.7rem;
            color: #fff;
            line-height: 3rem;
            letter-spacing: 0.7px;
        }

    }
}

// Globe
.globe {
    background-color: #d7d8ea; 

    &__map {
        text-align: center;

        & svg {
            width: 100%;
        }

    }
}