// COLOR VARIABLES

$color-primary: #293891;
$color-primary-light: #071333;
$color-secondary: #25AAE1;

$color-grey: #777;
$color-grey-dark: #444;
$color-light: #dddddd;


// FONT VARIABLES

$font-primary: 'Open Sans', sans-serif !important;
$font-display: 'Montserrat', sans-serif !important;
$font-main: 'Raleway', sans-serif !important;

// FONT SIZE

$default-font-size: 1.4rem;


$breadcrumb-divider: quote(">") !important;